AuthType Basic
AuthBasicProvider ldap
AuthName "Roaming Access"
AuthLDAPURL ldap://ds.cse.msu.edu:389/ou=People,dc=cse,dc=msu,dc=edu?uid?sub
AuthLDAPGroupAttribute memberUid
AuthLDAPGroupAttributeIsDN off
Require user zhouti17 
Require user dittmanm
Require user stroste3
Require user harr1531
Require user mill2904
Require user chengb
Require user chanken1
Require user langfo37